.error-page {
    text-align: center;
    padding: 50px;
    color: #333;
  }
  
  .error-code {
    font-size: 100px;
    font-weight: bold;
    color: #d9534f; /* Rojo para destacar el error */
  }
  
  .error-message {
    font-size: 24px;
    margin: 20px 0;
  }
  
  .error-page p {
    font-size: 18px;
    color: #666;
  }
  
  .error-page button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
  }
  